@import "../variables";
@import "../helpers/functions";
@import "../helpers/mixins";

.pricing__boxes {
  .frame {
    @include flex(center, center);
    border-radius: px-to-rem(18px);
    margin-bottom: px-to-rem(67px);
    height: px-to-rem(251px);
    width: 100%;
    position: relative;
    &__basic {
      border: px-to-rem(1px) solid $red-color;
    }
    &__professional {
      border: px-to-rem(1px) solid $base-color;
    }
    &__premium {
      border: px-to-rem(1px) solid $green-color;
    }
    .dsc {
      @include flex(center, center);
      flex-direction: column;
      &__offer {
        font-family: 'Raleway', sans-serif;
        font-size: px-to-rem(20px);
        font-weight: 700;
        color: $base-font-size;
      }
      &__price {}
    }
    .items {
      &__item {
      }
    }
    &__btn {
      position: absolute;
      left: calc(50% - 75px);
      top: px-to-rem(225px);
      width: px-to-rem(150px);
      height: px-to-rem(50px);
      padding: px-to-rem(16px) px-to-rem(57px);
      &--red {
        background-color: $red-color;
      }
      &--blue {
        background-color: $base-color;
      }
      &--green {
        background-color: $green-color;
      }
    }
  }
}
